<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730632771544-2p1j9ijfqa2p32ql9833k0q66msr1ntl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730632771544-2p1j9ijfqa2p32ql9833k0q66msr1ntl</string>
	<key>API_KEY</key>
	<string>AIzaSyB0w3acXM1_cNZ6jiwoGypVWf7NVBb98bE</string>
	<key>GCM_SENDER_ID</key>
	<string>730632771544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.decarbonapp.decarbon.ios</string>
	<key>PROJECT_ID</key>
	<string>decarbon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>decarbon-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730632771544:ios:8babc54f2f3b96cc7384ad</string>
	<key>DATABASE_URL</key>
	<string>https://decarbon-app.firebaseio.com</string>
</dict>
</plist>